<div class="container-fluid">
  = render "navigation/index"
  <div class="main-content">
    <section class="career-banner edu-detail-banner">
      <h2 class="career-banner__title hero-banner__title">Auto CAD for Electrical</h2>
      <div class="career-banner__bg">
        = image_tag 'education-details/education-detail-banner.jpg'
      </div>
    </section>
    <section class="career-desc">
      <div class="career-desc__main-container edu-detail-desc">
        <section class="career-desc__about">
          <h2 class="main-title">Training details</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptate quasi fuga nisi, beatae facilis odio deserunt accusamus quidem nemo, autem iste praesentium optio dolor quis ex ducimus provident pariatur.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita excepturi quis laboriosam distinctio adipisci pariatur dolore qui voluptas nobis, ex. Eum necessitatibus maiores, culpa iste! Nihil consectetur, distinctio id cupiditate!</p>
        </section>
        <section class="career-desc__what-to-do">
          <h2 class="main-title">Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis vitae modi minima quaerat neque perferendis, itaque at dolorum consectetur. Delectus, esse voluptate ipsam ut dignissimos assumenda sapiente placeat quis provident?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis vitae modi minima quaerat neque perferendis, itaque at dolorum consectetur. Delectus, esse voluptate ipsam ut dignissimos assumenda sapiente placeat quis provident?</p>
        </section>
        <!-- <section class="career-desc__social-networks">
          <i class="icon i-social i-facebook" aria-hidden="true"></i>
          <i class="icon i-social i-twitter" aria-hidden="true"></i>
          <a href="mailto:"><i class="icon i-social i-envelope"></i></a>
          <a href="javascript:void(0);"><i class="icon i-social i-print"></i></a>
        </section> -->
      </div>
      <div class="career-desc__news-container edu-address-container">
        <section class="career-desc__feature-news">
          <div class="aside-map edu-aside-center">
            = image_tag "education-details/aside-map.jpg"
          </div>
          <div class="edu-address edu-aside-center">
            <div class="institution-detail">
              <span>Institution name</span>
              <p>Baton Rough Community Collect</p>
            </div>
            <div class="institution-detail">
              <span>Address</span>
              <p>1234 Hillcrest Ave, Baton Rough, 10000</p>
            </div>
            <p class="call-us">Call us at 1.888.888.8888</p>
          </div>
        </section>
      </div>
    </section>
  = render "footer/index"
</div>
