<footer class="site-footer row">
  <div class="col-md-12">
    <ul class="site-footer__nav">
      <li><a href="javascript:void(0);">privacy policy</a></li>
      <li><a href="javascript:void(0);">financials</a></li>
      <li><a href="javascript:void(0);">faq</a></li>
      <li><a href="javascript:void(0);">contact</a></li>
    </ul>
    <div class="site-footer__copyright">
      <p>9331 Bluebonnet Blvd., Baton Rouge, LA 70810</p>
      <p>&copy;2016 Louisiana Calling. All Rights Reserved.</p>
    </div>
  </div>
</footer>