<footer class="site-footer">
  <ul class="site-footer__nav">
    <li><a href="/policy">privacy policy</a></li>
    <li><a href="javascript:void(0);">financials</a></li>
    <li id="faq-footer"><a href="/abouts">faq</a></li>
    <li id="contact-footer"><a href="/abouts">contact</a></li>
  </ul>
  <div class="site-footer__copyright">
    <p>9331 Bluebonnet Blvd., Baton Rouge, LA 70810</p>
    <p>&copy;2016 Louisiana Calling. All Rights Reserved.</p>
  </div>
</footer>