<div>
  <%= render "navigation/index" %>
  <div class="main-content">
    <section class="career-banner">
      <h2 class="career-banner__title banner-profile__title">Boilmakers</h2>
      <div class="career-banner__bg">
        <%= image_tag 'career-detail-banner.jpg' %>
      </div>
    </section>
    <section class="career-desc row" id="career-desc">
      <div class="col-md-8 career-desc__main-container">
        <section class="career-desc__about">
          <h2 class="main-title">About the job</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores aliquam rem beatae voluptas molestias quia ex numquam, veritatis error provident animi, dolore obcaecati illo inventore suscipit sapiente ab, iure autem!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse in illum est. Sequi quam deserunt ipsum similique ullam libero nostrum consequuntur, dolorem quae sapiente, nam repudiandae velit, modi earum officiis.</p>
        </section>
        <section class="career-desc__what-to-do">
          <h2 class="main-title">What you'll do</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est obcaecati incidunt quia recusandae dolorum optio sint. Nobis praesentium totam ad dolorum, quidem sint incidunt quis, adipisci, consectetur inventore dolorem architecto.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit dignissimos fugit, sequi eveniet, pariatur reprehenderit doloremque officiis ducimus cupiditate nisi, odit! Qui saepe sint, nulla fugit sed reprehenderit accusamus labore.</p>
        </section>
        <section class="career-desc__social-networks">
          <i class="i-social i-facebook" aria-hidden="true"></i>
          <i class="i-social i-twitter" aria-hidden="true"></i>
          <a href="mailto:"><i class="i-social i-envelope"></i></a>
          <a href="javascript:void(0);"><i class="i-social i-print"></i></a>
        </section>
      </div>
      <div class="col-md-4 career-desc__news-container" id="feature-news">
        <section class="career-desc__feature-news">
          <h2>Feature news</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eos tenetur est quo cum a, esse iusto nemo commodi eius deleniti totam, error nam! Nemo aliquid impedit obcaecati mollitia perspiciatis.</p>
          <a href="javascript:void(0);" class="btn-feature-more"></a>
        </section>
      </div>
    </section>
  </div>

  <%= render "footer/index" %>
</div>
