<div class="a-banner-wrapper">
  <div class="a-images-wrapper">
    <div class="a-text">Announcing the CMT Empowering Education Tour powered by Louisiana Calling! Comming March 2018!</div>
    <div class="a-images-container">
      <div class="a-empoweringLogo"></div>
      <div class="a-louisianaLogo"></div>
      <div class="a-lctcLogo"></div>
    </div>
  </div>
</div>