<% @careers_slider.each_with_index do |career, index| %>
  <%- class_name = index == 0 ? 'carousel-dots active' : 'carousel-dots' %>
  <li class='<%= class_name %>' data-slide-to='<%= index %>' data-target="#carousel-great-jobs"></li>
<% end %>