/* Font family */
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url($font-path + 'BrandonGrotesque-Bold' + '.otf'),
       url($font-path + 'BrandonGrotesque-Bold' + '.woff');
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url($font-path + 'BrandonGrotesque' + '.otf'),
       url($font-path + 'BrandonGrotesque' + '.woff');
}

@font-face {
  font-family: 'IowanOldStyle';
  src: url($font-path + 'IowanOldStyle' + '.ttf'),
       url($font-path + 'IowanOldStyle' + '.woff');
}

@font-face {
  font-family: 'IowanOldStyle-BoldItalic';
  src: url($font-path + 'IowanOldStyle-BoldItalic' + '.ttf'),
       url($font-path + 'IowanOldStyle-BoldItalic' + '.woff');
}

@font-face {
  font-family: 'IowanOldStyleItalic';
  src: url($font-path + 'IowanOldStyleItalic' + '.ttf'),
       url($font-path + 'IowanOldStyleItalic' + '.woff');
}

@font-face {
  font-family: 'AcuminProCond-Bold';
  src: url($font-path + 'AcuminProCond-Bold' + '.otf'),
       url($font-path + 'AcuminProCond-Bold' + '.woff');
}

@font-face {
  font-family: 'AcuminProCond-BoldItalic';
  src: url($font-path + 'AcuminProCond-BoldItalic' + '.otf'),
       url($font-path + 'AcuminProCond-BoldItalic' + '.woff');
}

@font-face {
  font-family: 'AcuminProCond-Regular';
  src: url($font-path + 'AcuminProCond-Regular' + '.otf'),
       url($font-path + 'AcuminProCond-Regular' + '.woff');
}

@font-face {
  font-family: 'AcuminProCond-Italic';
  src: url($font-path + 'AcuminProCond-Italic' + '.otf'),
       url($font-path + 'AcuminProCond-Italic' + '.woff');
}
