/* Font family */
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url($font-path + 'BrandonGrotesque-Bold' + '.otf');
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url($font-path + 'BrandonGrotesque' + '.otf');
}

@font-face {
  font-family: 'IowanOldStyle';
  src: url($font-path + 'IowanOldStyle' + '.ttf');
}

@font-face {
  font-family: 'AcuminProCond-Bold';
  src: url($font-path + 'AcuminProCond-Bold' + '.otf');
}

@font-face {
  font-family: 'AcuminProCond-BoldItalic';
  src: url($font-path + 'AcuminProCond-BoldItalic' + '.otf');
}
