/* Font size */
$base-font-size: 16;

/* Main color */
$white: #fff;
$black: #000;
$default: #355372;

/* Base colors */
$search-text: #a1a1a1;
$search-border: #7c838b;
$profile-header: #202d39;
$region-name: rgb( 137, 55, 49 );
$btn-see-more-bg: #893731;
$red-bg: #8c3732;
$modal-video-bg: rgba( 51, 51, 51, 0.8 );
$map-bg: #c4c1b7;
$map-active: #893731;
$profile-name-shadow: #e3e0d7;
$feature-news-bg: rgba(235, 233, 227, 0.7);
$filter-careers-bg: rgba( 227, 224, 215, 0.7 );
$filter-careers-heading: rgb( 53, 83, 114 );
$filter-careers-details: rgb( 32, 45, 57 );
$range-bg: #959595;
$range-border: #c5c5c5;
$filter-checkbox-bg: #e3e0d7;
$faq-topic-bg: #e3e0d7;
$donate-form-txt: rgb( 161, 161, 161 );
$career-txt: #e3e0d7;