/* Font size */
$base-font-size: 16;

/* Main color */
$white: #fff;
$black: #000;
$default: #355372;

/* Base colors */
$search-text: #a1a1a1;
$search-border: #7c838b;
$profile-header: #202d39;
$region-name: rgb( 137, 55, 49 );
$btn-see-more-bg: #893731;
$map-bg: #c4c1b7;
$map-active: #893731;
$profile-name-shadow: #e3e0d7;