.site-footer {
  height: rem(183);
  min-width: rem(1200);
  padding-top: rem(69);
  z-index: 1000;
  @include background-image('bg-footer.png');
  @extend %background-repeat-x;
  @extend %acumin-pro-cond-regular;
  @extend %cl-white;
  @extend %text-center;
  @extend %relative;

  @include e('nav') {
    font-size: rem(16.7);
    line-height: rem(18);
    // margin-bottom: rem(37);
    // width: rem(300);
    // @extend %margin-auto;
    @extend %text-uppercase;
    @extend %clear-both;
    @extend %table;
    margin: rem(10) auto rem(19) auto;

    li {
      @extend %float-left;
      border-right: solid rem(2) $white;
      padding: 0 rem(6);

      &:last-child {
        border-right: none;
      }

      a {
        @include linkState () {
          color: $red-bg;
        }
      }
    }
  }

  @include e('copyright') {
    font-size: rem(12.5);
    @extend %clear-both;
    @extend %block;
  }
}
