.site-footer {
  height: rem(215);
  padding-top: rem(95);
  @include background-image('bg-footer.jpg');
  @extend %background-repeat-x;
  @extend %acumin-pro-cond;
  @extend %cl-white;
  @extend %text-center;
  @extend %clear-both;

  @include e('nav') {
    font-size: rem(16.7);
    line-height: rem(18);
    margin-bottom: rem(37);
    width: rem(312);
    @extend %margin-auto;
    @extend %text-uppercase;

    li {
      @extend %float-left;
      border-right: solid rem(2) $white;
      padding: 0 rem(6);

      &:last-child {
        border-right: none;
      }

      a {
        @include linkState () {
          @extend %cl-white;
        }
      }
    }
  }

  @include e('copyright') {
    font-size: rem(12.5);
    @extend %clear-both;
  }
}
