/*Style header page*/
.site-header {
  @include background-image('header-bg.png');
  height: rem(104);
  @extend %absolute;
  @extend %left-0;
  @extend %right-0;
  z-index: 10;

  @include e('logo') {
    @extend %float-left;
    margin-top: rem(25);
    font-size: rem(16);
  }

  @include e('link') {
    @extend %block;
    height: 100%;
  }
}
