// Style for carousel homepage
.hero-slider {
  @extend %clear-both;
  height: rem(410);
}

.carousel-control--beside.left,
.carousel-control--beside.right {
  background: none;
  width: rem(42);
}

.carousel-title {
  @extend %absolute;
  top: rem(58);
}

.carousel-text {
  padding-top: rem(23);
}

.carousel-dots-list {
  margin-bottom: rem(-4);

  .carousel-dots {
    @include boxSize(rem(14), rem(13));
    background-color: $white;
    margin: 0 rem(8);
  }
}

.carousel-dots.active {
  background-color: $red-bg;
  border-color: $red-bg;
}

.btn-play-video:focus {
  outline: none;
}

.carousel-content {
  height: rem(410);
}

.carousel-control--beside .icon-prev {
  @include background-image('arrow-left.png');
  @include boxSize(rem(20), rem(45.5));
  @extend %absolute;
  z-index: 10;
  left: rem(45);

  &:before {
    content: '';
  }
}

.carousel-control--beside .icon-next {
  @include background-image('arrow-right.png');
  @include boxSize(rem(20), rem(45.5));
  @extend %absolute;
  z-index: 10;
  right: rem(45);

  &:before {
    content: '';
  }
}

.btn-play-video {
  @include background-image('play-button.png');
  @extend %background-no-repeat;
  background-size: rem(50), rem(50);
  @include boxSize(rem(50), rem(50));
  border: none;
  background-color: initial;
  margin-top: rem(35)
}


// Style modal video
.modal-open {
  padding-right: 0 !important;
}

.modal-video {
  background-color: $modal-video-bg;

  @include e('content') {
    margin-top: rem(85);
    max-width: 100%;
  }

  @include e('details') {
    background-color: none;
    border: none;
  }

  @include e('desc') {
    width: rem(895);
    margin: rem(60) auto 0 auto;
    @extend %overflow-hidden;
  }

  @include e('text') {
    width: rem(705);
    @extend %float-left;
    h2 {
      @extend %i-owan-old-style;
      font-size: rem(33);
    }

    p {
      font-size: rem(18);
      @extend %acumin-pro-cond;
      padding-top: rem(27);
    }
  }
}

.btn-tell-more {
  @include boxSize(rem(158), rem(37));
  margin-top: rem(75);
  @extend %float-right;
}

// Style button play/pause video
.video-player {
  width: 100%;
  height: auto;
}

.icon-pause {
  @include background-image('play-button.png');
  @extend %background-no-repeat;
  background-size: rem(50), rem(50);
  @include boxSize(rem(50), rem(50));
  @extend %absolute;
  left: 50%;
  margin: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-pause {
  @extend %inline-block;
  @extend %absolute;
  @extend %bottom-0;
  @extend %left-0;
  @extend %right-0;
  @extend %top-0;
  pointer-events: none;
}