/*Style banner profile*/
.banner-profile {
  @extend %color-white;
  @extend %text-center;
  @extend %clear-both;

  @include e('introduce') {
    padding-top: rem(16);
  }

  @include e('title') {
    font-size: rem(62.5);
    line-height: rem(71);
    @extend %i-owan-old-style;
    @include shadow(0, 0, rem(49), $black);
  }

  @include e('text') {
    font-size: rem(18.8);
    margin-top: rem(10);
    @extend %acumin-pro-cond-bi;
  }

  @include e('container') {
    @include background-image('profile/banner-profile.jpg');
    height: rem(400);
    @extend %background-position-center;
    @extend %background-cover;
    padding-top: rem(80);
  }
}