.btn-sort {
  color: $profile-header;
  background-color: $profile-name-shadow;
  @extend %no-border-radius;
  @extend %float-left;
  @extend %no-border;
  @extend %i-owan-old-style-italic;
  @include boxSize(rem(141), rem(35));

  @include linkState () {
    @extend %no-outline;
  }
}

.related-careers__header {
  .btn-sort-active {
    @extend %cl-white;
    background-color: $red-bg;
  }
}

.btn {
  &:focus {
    @extend %no-outline;
  }
}
