.careers-result {
  @extend %margin-auto;
  @extend %acumin-pro-cond-bi;

  .btn-sort-by {
    padding-left: rem(10);
    @extend %text-left;
    @extend %no-border-left;
    width: rem(211);
  }

  @include e('container') {
    width: rem(802);
    @extend %margin-auto;
    margin-top: rem(51);
  }

  @include e('head-search') {
    @extend %overflow-hidden;
  }
}

.careers-list-view {
  margin: rem(24) 0 rem(170) 0;
  display: none;

  @include e('item') {
    width: rem(802);
    min-height: rem(70);
    margin-bottom: rem(16);
    background-color: $white;
    padding: 0 rem(23) 0 rem(13);
    color: $filter-careers-heading;
    border: rem(1) solid $filter-careers-heading;
    @extend %display-flex;
  }

  @include e('heading') {
    min-height: rem(49);
    flex-direction: row;
    @extend %display-flex;
    @include boxSize(100%, auto);
  }

  @include e('salary') {
    margin: rem(5) 0 0 rem(25);
    font-size: rem(14.58);
    @extend %acumin-pro-cond ;
    @extend %float-right;
  }

  @include e('head-salary') {
    align-self: center;
    margin-left: rem(60);
    width: rem(304);
    @extend %float-right;
  }

  .jobs-head__name {
    padding-top: 0;
    align-self: center;
    width: rem(460);
  }

  .jobs-head__icon {
    margin-top: 0;
    @extend %float-right;
  }

  .jobs-head__title {
    font-size: rem(16.67);
    white-space: normal;
  }

  i {
    margin-right: rem(5);
  }

  .see-more-careers {
    margin-top: rem(16);
  }
}

.careers-details-education {
  @extend %float-left;
}

.careers-details-map {
  @extend %float-right;
}

.see-more-careers {
  margin: rem(45) 0 rem(100) rem(363);
  @extend %float-left;
}

// Style careers view by
.careers-filter-search {
  @extend %float-left;
  width: rem(517);
}

.careers-filter-search-group {
  width: rem(518);
  @extend %block;
  @extend %overflow-hidden;
}

.careers-view-by {
  @extend %float-right;
  padding-top: rem(12);

  @include e('list') {
    @extend %float-left;
    margin-right: rem(15.5);
    @include boxSize(rem(23), rem(23));
  }

  @include e('grid') {
    @extend %float-right;
    @include boxSize(rem(23), rem(23));
  }
}

.grid-view-container {
  margin-bottom: rem(170);
  @extend %overflow-hidden;
}

.careers-grid-details {
  @extend %no-margin-right;
  width: rem(835);
  @extend %overflow-hidden;
  color: $default;

  @include e('item') {
    @extend %no-padding;
    @extend %float-left;
    @extend %relative;
    @include boxSize(rem(254), rem(320));
    border: rem(1) solid $default;
    margin: rem(20) rem(20) 0 0;
    background-color: $white;

    &:last-child {
      @extend %no-margin-right;
    }

    a {
      @include boxSize(100%, 100%);
      @extend %block;
      color: $default;
    }

    i {
      margin-left: rem(5);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.auto-fill-data {
  display: none;
}

.active-tab {
  background-color: $range-bg;
}

.careers-result__container.career-grid-view-active {
  .careers-view-by__grid {
    @extend .active-tab;
  }

  .grid-view-container {
    @extend %block;
  }

  .careers-list-view {
    display: none;
  }
}

.careers-result__container.career-list-view-active {
  .careers-view-by__list {
    @extend .active-tab;
  }

  .grid-view-container {
    display: none;
  }

  .careers-list-view {
    @extend %block;
  }
}