.find-programs {
  padding-top: rem(50);
  height: rem(225);
  @extend %background-repeat;
  @include background-image('career-search-bg.jpg');

  .search-group {
    width: rem(824);
  }

  @include e('title') {
    color: $profile-header;
    margin-bottom: rem(28);
    @extend %text-center;
  }

  .search-input {
    color: $search-text;
    @extend %text-capitalize;
  }
}
