.career-banner {
  height: rem(430);
  @extend %relative;
  @extend %overflow-hidden;
  @extend %text-center;

  @include e('title') {
    margin-top: rem(167);
  }

  @include e('bg') {
    z-index: -99;
    @extend %absolute;
    @extend %left-top-0;
    @include boxSize(100%, 100%);
  }
}

.career-desc {
  color: $default;
  @include background-image('map-bg.png');
  @extend %overflow-hidden;
  @extend %relative;
  @extend %display-flex;

  .main-title {
    margin-bottom: rem(30);
    @extend %text-capitalize;
    @include shadow(rem(5), rem(5), rem(5), $profile-name-shadow);
  }

  @include e('main-container') {
    width: 64.75%;
    padding: rem(63) 0 rem(57) rem(84);
    @extend %float-left;
  }

  @include e('news-container') {
    width: 35.25%;
    padding: rem(58) rem(98) 0 rem(60);
    background: $feature-news-bg;
  }

  @include e('main-content') {
    width: rem(700);
    @extend %float-right;
  }

  @include e('what-to-do') {
    padding: rem(32) rem(67) 0 0;

    p {
      font-size: rem(16.7);
      margin-bottom: rem(20);
      line-height: rem(22);
      @extend %acumin-pro-cond;
    }
  }

  @include e('about') {
    padding-right: rem(67);

    p {
      font-size: rem(16.7);
      margin-bottom: rem(20);
      line-height: rem(22);
      @extend %acumin-pro-cond;
    }
  }

  @include e('feature-news') {

    h2 {
      font-size: rem(20.8);
      line-height: 1.8;
      margin-bottom: rem(25);
      @extend %brandon-grotesque;
      @extend %text-uppercase;
    }
  }

  @include e('social-networks') {
    font-size: rem(23);
    padding-top: rem(20);

    i {
      margin-right: rem(25);
    }

    a {
      color: $default;
    }
  }

  @include e('title') {
    font-size: rem(37.5);
    @extend %text-uppercase;
    @extend %brandon-grotesque;
    color: $red-bg;
    padding-bottom: rem(40);
  }

  @include e('interest') {
    margin-bottom: rem(63);
    width: 100%;
  }

  @include e('interest-item') {
    @extend %overflow-hidden;
    margin-bottom: rem(30);

    &:last-child {
      @extend %no-margin-bottom;
    }
  }

  @include e('interest-icon') {
    max-width: rem(58);
    height: rem(50);
    @extend %float-left;
    @extend %overflow-hidden;

    img {
      object-fit: contain;
      @include boxSize(100%, 100%);
    }
  }

  @include e('interest-text') {
    min-height: rem(45);
    margin-left: rem(12);
    width: rem(205);
    @extend %flex-col-center;
    @extend %float-left;
    @extend %relative;

    p {
      @extend %float-left;
      @extend %text-uppercase;
      font-size: rem(16.67);
      @extend %brandon-grotesque-bold;
      color: $filter-careers-heading;
      margin-bottom: 0;
    }
  }
}

.btn-feature-more {
  margin-top: rem(18);
  @extend %inline-block;
  @include boxSize(rem(113), rem(26));
  @include background-image('btn-read-more.png');
}

.story-owner {
  height: rem(387);
  @extend %overflow-hidden;
  @extend %relative;

  @include e('photo') {
    z-index: -99;
    @extend %absolute;
    @extend %left-top-0;
    @include boxSize(100%, 100%);
  }

  @include e('title') {
    @extend %cl-white;
    @extend %text-capitalize;
  }

  @include e('link') {
    margin-top: rem(4);
    @extend %inline-block;
    @extend %background-no-repeat;
    @include boxSize(rem(139), rem(56));
    @include background-image('btn-full-story.png');
  }

  @include e('content') {
    padding: rem(150) 0 0 rem(62);
  }
}

#careers-by-skills,
#skill-icons {
  display: none;
}


.asterisk-copy--map {
  margin: rem(383) 0 0 rem(590);
  font-size: rem(15);
  @extend %acumin-pro-cond-regular;
}

.related-career-interest {
  width: auto;
}