.careers-result {
  @extend %margin-auto;
  @extend %acumin-pro-cond-bi;

  .btn-sort-by {
    padding-left: rem(10);
    @extend %text-left;
    @extend %no-border-left;
    width: rem(211);
  }

  @include e('container') {
    width: rem(802);
    @extend %margin-auto;
    margin-top: rem(51);
  }

  @include e('head-search') {
    @extend %overflow-hidden;
  }
}

.careers-list-view {
  margin-top: rem(86);
  display: none;

  @include e('item') {
    border: rem(2) solid $filter-careers-heading;
    background-color: $white;
    @include boxSize(rem(802), rem(68));
    color: $filter-careers-heading;
    padding: 0 rem(13);
    margin-bottom: rem(21);
  }

  @include e('heading') {
    padding-top: rem(20);
  }

  @include e('icon-salary') {
    @extend %float-left;
    @include background-image('career-options.png');
    @extend %background-no-repeat;
    background-position: 0 rem(1);
    @include boxSize(rem(39), rem(28));
  }

  @include e('salary') {
    margin-left: rem(59);
    font-size: rem(21);
    @extend %acumin-pro-cond ;
  }

  @include e('head-salary') {
    @extend %float-right;
  }

  .jobs-head__name {
    @extend %no-padding-top;
  }
}

.careers-details-education {
  @extend %float-left;
}

.careers-details-map {
  @extend %float-right;
}

.see-more-careers {
  margin: rem(55) 0 rem(100) rem(363);
  @extend %float-left;
}

// Style careers view by
.careers-filter-search {
  @extend %float-left;
  width: rem(598);
}

.careers-filter-search-group {
  width: rem(598);
}

.careers-view-by {
  @extend %float-right;

  @include e('list') {
    @include boxSize(rem(50), rem(50));
    @extend %float-left;
  }

  @include e('grid') {
    @include boxSize(rem(50), rem(50));
    @extend %float-right;
    margin-left: rem(22);
  }

  @include e('list-icon') {
    @include boxSize(rem(35), rem(35));
    margin: rem(8) auto 0 auto;
  }

  @include e('grid-icon') {
    @include boxSize(rem(35), rem(35));
    margin: rem(8) auto 0 auto;
  }
}

.grid-view-container {
  margin-top: rem(8);
  @extend %overflow-hidden;
}

.careers-grid-details {
  @extend %no-margin-right;
  width: rem(835);
  @extend %overflow-hidden;
  margin-bottom: rem(20);
  color: $default;

  @include e('item') {
    @extend %no-padding;
    @extend %float-left;
    @extend %relative;
    @include boxSize(rem(254), rem(254));
    border: 1px solid $default;
    margin: rem(20) rem(20) 0 0;

    &:last-child {
      @extend %no-margin-right;
    }

    a {
      @include boxSize(100%, 100%);
      @extend %block;
      color: $default;
    }

    i {
      margin-left: rem(5);
    }

    .related-item__info {
      padding-top: rem(8);
    }

    .related-item__name {
      width: rem(225);
      line-height: rem(20);
    }

    .related-item__salary {
      width: auto;
      float: none;
      @extend %no-margin-top;
    }
  }
}

.auto-fill-data {
  display: none;
}

.active-tab {
  background-color: $range-bg;
}