.find-programs {
  padding-top: rem(55);
  height: rem(225);
  @extend %background-repeat;
  @include background-image('career-search-bg.jpg');

  .search-group {
    width: rem(824);
  }

  @include e('title') {
    color: $profile-header;
    @extend %text-center;
    width: rem(824);
    @extend %text-left;
    margin: 0 auto rem(31) auto;
  }

  .search-input {
    color: $search-text;
    @extend %text-capitalize;
  }
}
