.edu-detail-banner {
  height: rem(427);
  @extend %overflow-hidden;
  @extend %relative;

  @include e('content') {
    @extend %absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }
}

.edu-detail-desc {
  width: 64.75%;

  .career-desc__main-content {
    width: auto;
  }
}

.edu-address-container {
  width: 35.25%;
  font-size: rem(16.67);
  padding: rem(67) 0 rem(30) 0;
  @extend %background-cover;
  @extend %background-position-center;
  @include background-image('education-details/edu-map-bg.jpg');
}

.edu-aside-center {
  width: rem(346);
  @extend %margin-auto;
}

.institution-detail {
  width: rem(346);
  @extend %overflow-hidden;

  span {
    width: rem(135);
    @extend %float-left;
    @extend %text-capitalize;
  }

  p {
    width: rem(200);
    margin-bottom: rem(5);
    color: $profile-header;
    @extend %float-left;
  }

  &:first-child {
    margin-top: rem(30);
  }
}

.aside-map {
  border: solid rem(1) $default;
  height: rem(295.5);
  @extend %overflow-hidden;
}

.edu-address {
  .call-us {
    font-size: rem(20.7);
    margin-top: rem(27);
    @extend %clear-both;
    @extend %i-owan-old-style;
  }
}

.edu-program-info {
  height: auto;


  .great-jobs__container {
    width: rem(800);
    min-height: rem(155);
    height: auto;
    margin: rem(38) auto;
    align-self: center;
  }

  .great-jobs__list-icon {
    margin-bottom: 0;
  }

  .jobs-head {
    height: auto;
    @extend %display-flex;
  }

  .jobs-head__content {
    margin-top: 0;
    @extend %display-flex;
    width: 21%;
    @include flex-justify-content(flex-end);
  }

  @include e('title') {
    font-size: rem(20.83);
    @extend %brandon-grotesque;
    @extend %text-uppercase;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    padding: rem(4) 0;
  }

  @include m('item') {
    margin-top: rem(20);
    min-height: rem(150);
  }

  @include e('map-item') {
    margin-bottom: rem(17);
    min-height: rem(249);

    .job-title-aside {
      max-width: rem(330);
    }
  }

  .edu-industry {
    width: 100%;
  }
}

.edu-great-jobs {
  @extend %display-flex;
}

.edu-detail-content {
  width: rem(756);

  .jobs-head__name {
    padding-top: 0;
    min-height: rem(75);
    line-height: 75px;
    width: rem(601);
  }
}

.edu-detail-row {
  @extend %overflow-hidden;
  padding: rem(20) 0 rem(15) 0;
}

.edu-detail-item {
  margin-left: rem(23);
  @extend %overflow-hidden; 
  @extend %no-padding-right;
  @extend %float-left;
  @extend %display-flex;

  p {
    width: 100%;
    @extend %float-left;
    line-height: rem(17);
    padding-top: rem(5);
  }

  &:first-child {
    @extend %no-margin-top;
    @extend %no-margin-left;
    @extend %no-padding;
    @extend %overflow-hidden;
    width: rem(325);

    &:before {
      @extend %no-content;
    }

    &:after {
      @extend %no-content;
    }
  }

  &:nth-child(2) {
    width: rem(176);
  }

  &:nth-child(3) {
    width: rem(113);
  }

  &:nth-child(4) {
    p {
      width: rem(75);
      @extend %truncate;
    }
  }

  &:last-child {
    p {
      width: auto;
    }
  }

  @include m('landing') {
    @extend %no-padding;
    margin-left: rem(40);
    @extend %float-left;

    &:last-child {
      width: rem(71);
    }

    &:first-child {
      @extend %no-margin-left;
      width: rem(328);
    }

    &:nth-child(2) {
      width: rem(150);
    }

    &:nth-child(3) {
      width: rem(105);
    }

    p {
      padding-top: rem(5);
      line-height: rem(17);
    }
  }
}

.edu-industry {
  width: rem(150);
  @extend %overflow-hidden;
  @extend %relative;
}

.edu-salary-range {
  margin-top: rem(8);
  @extend %inline-block;
}

.edu-head-info {
  @extend %float-left;
  align-self: center;
}

.edu-cost {
  @extend %float-right;
  align-self: center;

  .edu-icon,
  .edu-salary-range {
    margin-top: 0;
  }
}

.edu-region {
  @extend %float-left;
  width: rem(115);
  margin: rem(9) rem(23) 0 0;
}

.edu-certificate {
  width: rem(120);
  @extend %overflow-hidden;
}

.edu-details-region {
  margin: rem(8) rem(30) 0 0;
}