.edu-jumpstart {
  @include boxSize(auto, rem(530));
  
  @include e('tabs') {
    @include boxSize(100%, rem(135));

    li {
      height: 100%;
      border-left: solid rem(1) $map-bg;
      @extend %no-padding;
      @extend %no-margin-left;
      @include background-image('education-details/edu-map-bg.jpg');

      &:first-child {
        @extend %no-border-left;
      }
    }

    a {
      color: $profile-header;
      @extend %block;
      @extend %text-center;
      @include boxSize(100%, 100%);

      span {
        font-size: rem(20.8);
        line-height: rem(135);
        @extend %block;
        @extend %text-uppercase;
        @extend %brandon-grotesque;
      }
    }

    .active {
      height: rem(143);
      z-index: 1000;
      @extend %cl-white;
      @extend %relative;
      @extend %background-position-center;
      @include background-image('tab-active.png');
      background-repeat-y: no-repeat;
    }
  }

  @include e('tab-content') {
    @include boxSize(100%, rem(395));
  }

  @include e('introduce') {
    width: rem(610);
    @extend %margin-auto;

    .hero-banner__text {
      line-height: rem(20.68);
    }
  }

  .btn-edu-more {
    margin-top: rem(26);
    background-size: rem(141) rem(30);
    @extend %inline-block;
    @include boxSize(rem(141), rem(30));
  }
}

.tab-pane__edu-content {
  @extend %background-cover;
  @extend %background-position-center;
}

#eduJumpstart {
  @include background-image('program-landing/jumpstart-banner.jpg');
}

#eduTraining {
  @include background-image('program-landing/training-banner.jpg');
}

#eduCollege {
  @include background-image('program-landing/college-banner.jpg');
}
