// Style for great jobs
.great-jobs {
  height: rem(304);
  @include background-image('careers/great-job-bg.jpg');
  @extend %background-position-center;
  @extend %background-cover;

  @include e('lable') {
    @include boxSize(rem(301), rem(46));
    background-color: $red-bg;

    p {
      font-size: rem(17);
      @extend %i-owan-old-style-italic;
      margin-left: rem(88);
      padding-top: rem(10);
    }
  }

  @include e('container') {
    @include boxSize(rem(1034), rem(180));
    border: rem(2) solid $white;
    margin: rem(15) auto 0 auto;
  }

  @include e('content') {
    width: rem(992);
    @extend %margin-auto;
  }
}

// Style for header top great jobs
.jobs-head {
  border-bottom: rem(2) solid $white;
  @extend %overflow-hidden;
  height: rem(71);

  @include e('name') {
    @extend %float-left;
    padding-top: rem(25);
  }

  @include e('title') {
    font-size: rem(21);
    @extend %brandon-grotesque;
    @extend %text-uppercase;
    @extend %float-left;
    padding-right: rem(11);
  }

  @include e('icon') {
    @extend %overflow-hidden;
    margin-top: rem(4);

    img {
      @extend %float-left;
      @include boxSize(rem(16), 100%);
      margin-left: rem(6);
    }
  }

  @include e('content') {
    margin-top: rem(12);
    @extend %float-right;
    @extend %overflow-hidden;
  }

  @include e('desc') {
    @extend %float-left;

    li {
      @extend %float-left;
      padding-left: rem(31);

      &:first-child {
        @extend %no-padding-left;
      }
    }
  }

  @include e('desc-text') {
    font-size: rem(17);
    line-height: 2.375;
    padding-top: rem(8);
    @extend %acumin-pro-cond;
    @extend %float-left;
  }

  @include e('desc-icon') {
    @extend %float-left;
    height: rem(46);

    img {
      width: rem(46);
      height: 100%;
      margin-left: rem(10);
    }
  }
}

// Style list icon in great jobs
.great-jobs__list-icon {
  margin-bottom: rem(10);
}

.list-icon__details {
  margin: rem(40) rem(100) 0 0;
  @extend %no-padding;
  width: rem(179);
  @extend %overflow-hidden;

  // &:first-child {
  //   max-height: rem(37);
  //   overflow: hidden;
    
  //   p:nth-child(2) {
  //     &:before {
  //       content: '...';
  //     }
  //   }
  // }

  &:last-child {
    @extend %no-margin-right;
    width: rem(155);
  }


  img {
    @include boxSize(rem(25), rem(25));
    @extend %float-left;
    margin-right: rem(10);
  }

  p {
    font-size: rem(17);
    @extend %acumin-pro-cond;
    margin-left: rem(34);
    line-height: rem(19);
  }

  .icon-salary {
    @include boxSize(rem(34), rem(24));
  }

  .icon-training {
    @include boxSize(rem(21), rem(25));
  }

  .icon-map {
    @include boxSize(rem(25), rem(22));
  }
}

// Button tell me jobs
.btn-tell-me-jobs {
  @include boxSize(rem(1036), rem(27));
  margin: rem(20) auto 0  auto;

  @include e('link') {
    @extend %float-right;
    width: rem(122);
  }

  img {
    height: rem(27);
  }
}

.great-jobs-careers-details {
  padding-top: rem(26);
  height: rem(262);
}

.carousel-dots-great-jobs {
  margin-bottom: rem(-18);
  left: 52%;
  width: 49%;
}