.main-guided-journey {
  @include e('heading') {
    padding-top: rem(32);
    @include boxSize(100%, rem(137));

    p {
      margin-top: rem(22);
    }
  }

  @include e('steps') {
    color: $default;
    min-height: rem(735);
    margin-bottom: rem(30);
    @include background-image('map-bg.png');
    @extend %background-repeat-x;

    li {
      @extend %float-left;
    }
  }
}

.guided-form {
  @extend %relative;

  @include e('main-container') {
    width: rem(1045);
    padding-top: rem(30);
    @extend %margin-auto;
    @extend %overflow-hidden;
  }

  @include e('title') {
    @extend %absolute;
    left: rem(-999);
  }

  @include e('steps') {
    margin: 0 auto rem(38) auto;
    width: rem(810);
    @extend %text-left;
    @extend %overflow-hidden;
    @extend %float-left;

    li {
      @include boxSize(rem(153), rem(50));
      background-color: $default;
      margin-left: rem(2);
      @extend %relative;
      @extend %display-flex;
      @extend %align-items-center;
      @extend %justify-content-center;

      &:before,
      &:after {
        content: "";
        top: rem(7);
        left: rem(135);
        @extend %absolute;
        background: inherit;
        border: inherit;
        border-left-color: transparent;
        border-bottom-color: transparent;
        @extend %no-border-radius;
        @include transform(45deg);
        @include boxSize(rem(36), rem(36));
      }

      &:before {
        left: rem(-18);
        background-color: $white;
      }

      &:after {
        right: rem(-11);
        z-index: 1;
      }
    }

    @include e('container') {
      margin: rem(38) 0 rem(30) 0;
    }
  }

  fieldset {
    @extend %no-border;
    box-sizing: border-box;

    &:not(:first-of-type) {
      display: none;
    }

    > p {
      margin-top: rem(23);
    }
  }

  @include e('container') {
    margin-top: rem(38);
    @extend %overflow-hidden;

    > p {
      font-size: rem(16.67);
      padding-top: rem(25);
    }
  }
}

.guided-form__steps .steps li.done,
.guided-form__steps .steps li.current {
  background-color: $red-bg;
}


.steps a {
  @extend %no-border-radius;
  color: $white;
  @extend %relative;
  padding-left: rem(20);

  @include linkState() {
    color: $white;
  }
}

.steps .current-info {
  @extend %absolute;
  left: rem(-999);
}

.actions {
  display: none;
}

//Style side bar step result when click item
.sidebar-steps-result {
  width: rem(210);
  background-color: $step-bg;
  @extend %float-right;

  @include e('btn') {
    @extend %overflow-hidden;
    padding: 0 rem(13) rem(40) rem(13);
  }

  @include e('content') {
    color: $profile-header;
    padding: rem(41) rem(22) 0 rem(27);

    h4 {
      @extend %acumin-pro-cond-regular;
      font-size: rem(16.67);
    }

    p {
      @extend %brandon-grotesque;
      @extend %text-uppercase;
      font-size: rem(12);
      padding-top: rem(7);
    }
  }

  @include e('content-details') {
    padding-bottom: rem(35);
  }
}

.btn-step {
  @include boxSize(rem(65), rem(28));
  color: $white;
  font-size: rem(16.7);
  @extend %i-owan-old-style-bi;
  @extend %no-border;
  @extend %no-outline;
  @extend %relative;
  z-index: 200;
}

.btn-step-back {
  background-color: $profile-header;
  @extend %float-left;
  margin-left: rem(20);
  padding-right: rem(23);

  &:before,
  &:after {
    content: "";
    top: rem(4);
    @extend %absolute;
    background: inherit;
    border: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    @extend %no-border-radius;
    @include transform(225deg);
    @include boxSize(rem(20), rem(20));
  }

  &:before {
    left: rem(55);
    background-color: $step-bg;
  }

  &:after {
    right: rem(55);
    z-index: -2;
  }
}

.btn-step-next {
  background-color: $red-bg;
  @extend %float-right;
  margin-right: rem(20);
  padding-left: rem(23);

  &:before,
  &:after {
    content: "";
    top: rem(4);
    @extend %absolute;
    background: inherit;
    border: inherit;
    border-left-color: transparent;
    border-bottom-color: transparent;
    @extend %no-border-radius;
    @include transform(45deg);
    @include boxSize(rem(20), rem(20));
  }

  &:before {
    left: rem(-10);
    background-color: $step-bg;
  }

  &:after {
    right: rem(-10);
    z-index: -22;
  }
}

span.current-info.audible {
  display: none;
}

.indicator-loading-step {
  margin: rem(40) auto 0 auto;
}

.sidebar-steps-result__btn.sidebar-steps-result__btn-next {
  padding-right: rem(60);
  .btn-step-back {
    display: none;
  }

  .btn-step-next {
    display: block;
  }
}

.sidebar-steps-result__btn.sidebar-steps-result__btn-back {
  padding-left: rem(60);
  .btn-step-back {
    display: block;
  }

  .btn-step-next {
    display: none;
  }
}