.guided-journey {
  height: rem(400);

  @include e('box') {
    height: 100%;
    @extend %text-center;
    @extend %background-cover;
    @extend %background-position-center;
  }

  h2 {
    font-size: rem(29);
    line-height: rem(35);
    @extend %i-owan-old-style;
  }
}

.find-your-path {
  padding-top: rem(112);
  @include background-image('photo-to-do.jpg');

  @include e('title') {
    width: rem(185);
    @extend %margin-auto;
    @extend %text-left;
  }

  @include e('link') {
    margin: rem(2) 0 0 rem(36);
    @include background-image('find-your-path.png');
    @include boxSize(rem(225), rem(110));
  }
}

.want-to-talk {
  padding-top: rem(148);
  @include background-image('photo-talk.jpg');

  @include e('link') {
    top: rem(-14);
    right: rem(15);
    @extend %relative;
    @include background-image('tel-arrow.png');
    @include boxSize(rem(220), rem(90));

    span {
      font-size: rem(25);
      width: 100%;
      top: rem(33);
      right: rem(8);
      @extend %absolute;
      @extend %brandon-grotesque;
    }
  }
}

.journey-link {
  @extend %inline-block;
  @extend %background-no-repeat;
}

.journey-bg {
  position: relative;
  z-index: -99;
}

.career-guided-journey {
  z-index: 100;
  @extend %float-right;
  @include boxSize(26%, 100%);
  @extend %absolute;
  @extend %right-top-0;
  @include background-image('careers/career-call-center.jpg');
  @extend %display-flex;
  @extend %align-items-center;
  @extend %justify-content-center;
  padding-top: 0;

  .main-title {
    font-size: rem(29);
    padding-left: rem(21);
  }

  @include e('content') {
    width: rem(232);

    .journey-link {
      right: rem(5);
    }
  }

  .want-to-talk {
    padding-top: 0;
  }
}

.edu-guided-journey {
  padding-top: rem(138);
  @include boxSize(auto, rem(380));
  @extend %text-center;
  @extend %background-cover;
  @extend %background-position-center;
  @include background-image('photo-talk.jpg');
}

// .edu-guided-link {
//   right: rem(15);
// }

