.guided-form {

  @include e('interest') {
    margin-top: rem(40);
    @extend %overflow-hidden;
  }
  
  @include e('interest-item') {
    @include boxSize(rem(135), rem(135));
    @extend %float-left;
    padding-top: rem(12);

    & + & {
      @extend %no-border-left;
    }

    .item-step-title {
      @extend %text-center;
      font-size: rem(12.5);
      @extend %brandon-grotesque-bold;
      @extend %text-uppercase;
      padding: rem(14) rem(1) 0 rem(1);
      line-height: rem(15);
      @extend %cursor-default;
      max-height: rem(44);
    }
  }

  @include e('interest-icon') {
    height: rem(75);

    img {
      @include boxSize(auto, 100%);
    }

    @include m('active') {
      display: none;
    }
  }

  @include e('interest-details') {
    @extend %display-flex;
    @extend %align-items-center;
    @extend %justify-content-center;
  }
}

.interest-item.interest-active {
  background-color: $red-bg;
  color: $white;

  .guided-form__interest-icon {
    display: none;
  }

  .interest-icon--active {
    display: block;
    height: rem(75);

      img {
        @include boxSize(auto, 100%);
      }
  }
}

.interest-item.interest {
  .guided-form__interest-icon {
    display: block;
  }

  .interest-icon--active {
    display: none;
  }
}

.interest-item {
  border: rem(1) solid $red-bg;
  color: $red-bg;

  &:nth-child(6n + 1) {
    border-left: rem(1) solid $red-bg;
  }

  &:nth-child(n + 7) {
    border-top: rem(0) solid $red-bg;
  }
}