.icon {
  @extend %inline-block;
  @extend %vertical-middle;
  @extend %background-no-repeat;
}

.i-social {
  @include background-image('social-sharing.png');
}

.i-envelope {
  @include backgroundSprite(28, 21, -83, -1);
}

.i-print {
  @include backgroundSprite(25, 22, -136, 0);
}

.i-facebook {
  @include backgroundSprite(9, 22, 0, 0);
}

.i-twitter {
  @include backgroundSprite(24, 20, -37, -1);
}

.i-salary {
  @include boxSize(rem(38), rem(27));
  @include background-image('career-info/career-salary.png');
}

.i-certificate {
  margin-left: rem(7);
  @extend %absolute;
  @extend %left-top-0;
  @include boxSize(rem(23), rem(28));
  @include background-image('career-info/icon-edu-white.png');
}

.i-red-flame {
  @include boxSize(rem(16), rem(19));
  @include background-image('careers/fire-icon.png');
}

.i-edu-salary {
  margin-top: rem(6);
  @include boxSize(rem(22), rem(23));
}

.i-salary-blue {
  @include background-image('program-landing/dollar-sign.png');
}

.i-salary-white {
  @include background-image('education-details/dollar-sign.png');
}

.i-calendar {
  @include boxSize(rem(22), rem(22));
}

.i-calendar-blue {
  @include boxSize(rem(22), rem(22));
  @include background-image('program-landing/calendar.png');
}

.i-calendar-white {
  @include boxSize(rem(22), rem(22));
  @include background-image('education-details/icon-calendar.png');
}

.i-clock {
  @include boxSize(rem(23), rem(23));
}

.i-clock-blue {
  @include background-image('program-landing/clock.png');
}

.i-clock-white {
  @include background-image('education-details/icon-clock.png');
}

.i-map-blue {
  @include boxSize(rem(21), rem(20));
  @include background-image('region.png');
}

.i-map-white {
  @include boxSize(rem(25), rem(22));
  @include background-image('careers/icon-map.png');
}

.i-white-flame {
  margin-right: rem(5);
  @include boxSize(rem(16), rem(19));
  @include background-image('career-info/career-fire-icon.png');
}

.i-career-blue {
  @include boxSize(rem(22), rem(27));
  @include background-image('program-landing/icon-career.png');
}

.i-career-white {
  @include boxSize(rem(21), rem(26));
  @include background-image('program-landing/icon-career.png');
}

.i-education {
  @include boxSize(rem(21), rem(25));
}

.i-education-blue {
  @include background-image('icon-education.png');
}

.i-education-white {
  @include background-image('careers/icon-training.png');
}

.i-day {
  @include boxSize(rem(26), rem(25));
}

.i-day-blue {
  @include background-image('program-landing/day_night.png');
}

.i-day-white {
  @include background-image('education-details/icon-day-night.png');
}

.edu-icon {
  margin-right: rem(13);
  @extend %float-left;
}

.i-profile-training {
  @include boxSize(rem(24), rem(31));
  @include background-image('career-info/career-edu.png');
}

.i-profile-map {
  @include boxSize(rem(33), rem(33));
  @include background-image('career-info/career-map.png');
}

.i-profile-career {
  @include boxSize(rem(23), rem(29));
  @include background-image('career-info/career-industry.png');
}
