.icon {
  @extend %inline-block;
  @extend %vertical-middle;
  @extend %background-no-repeat;
}

.i-social {
  @include background-image('social-sharing.png');
}

.i-envelope {
  @include backgroundSprite(28, 21, -83, -1);
}

.i-print {
  @include backgroundSprite(25, 22, -136, 0);
}

.i-facebook {
  @include backgroundSprite(9, 22, 0, 0);
}

.i-twitter {
  @include backgroundSprite(24, 20, -37, -1);
}

.i-options { 
  @extend %vertical-top;
  @extend %absolute;
  @extend %left-top-0;
  @include background-image('career-options.png');
}

.i-salary {
  @include boxSize(rem(38), rem(27));
  @include background-image('career-info/career-salary.png');
}

.i-certificate {
  margin-left: rem(7);
  @include boxSize(rem(23), rem(28));
  @include background-image('career-info/icon-edu-white.png');
}

.i-vote {
  @include boxSize(rem(16), rem(19));
  @include background-image('careers/fire-icon.png');
}

.i-edu-salary {
  margin-top: rem(6);
  @include boxSize(rem(22), rem(23));
}

.i-industry {
  @include boxSize(rem(21), rem(26));
}

.i-calendar {
  @include boxSize(rem(22), rem(22));
}

.i-clock {
  @include boxSize(rem(23), rem(23));
}

.i-edu-map {
  @include boxSize(rem(21), rem(20));
}

.i-edu-certificate {
  @include boxSize(rem(21), rem(26));
}

.i-flame {
  margin-right: rem(5);
  @include boxSize(rem(16), rem(19));
  @include background-image('career-info/career-fire-icon.png');
}