.top-jobs {
  color: $default;
  font-size: rem(16.6);
  line-height: 1.375;
  height: rem(580);
  @extend %acumin-pro-cond;
  @extend %font-weight-bold;
  @include background-image('map-bg.png');
  @extend %background-repeat;
  @extend %overflow-hidden;

  @include e('details') {
    @include boxSize(rem(326), rem(332));
    @include background-image('top-jobs-border.png');
  }

  @include e('title') {
    padding-right: rem(35);
    @extend %text-right;
  }

  @include e('map') {
    top: rem(-250);
    right: rem(404);
    @include boxSize(rem(585), rem(615));
    @extend %absolute;
  }
}

.map-details {
  margin-right: rem(55);
  @extend %background-no-repeat;
  @extend %relative;
  @extend %float-right;
}

.jobs-container {
  width: rem(880);
  @extend %margin-auto;
  @extend %relative;
}

.job-heading {

  @include m('pull-left') {
    margin-right: rem(125);
  }

  @include m('pull-right') {
    margin: 0 rem(92) rem(12);
  }
}

.job-desc {
  font-size: rem(18.8);
  margin-right: rem(65);
  @extend %acumin-pro-cond-bi;
}

.region-name {
  font-size: rem(33.3);
  line-height: 1.875;
  color: $region-name;
  right: rem(16);
  @extend %top-0;
  @extend %text-uppercase;
  @extend %brandon-grotesque;
  @extend %absolute;
}

.job-list {
  top: rem(62);
  left: rem(40);
  @extend %absolute;
  @extend %overflow-y-scroll;
  @include boxSize(rem(270), rem(230));

  a {
    @include linkState () {
      color: $default;
    }
    @extend %text-capitalize;
  }
}

.map-title {
  margin: rem(57) rem(54) rem(20);
  @extend %overflow-hidden;
  @include shadow(rem(3), rem(3), rem(3), $profile-name-shadow);
}

.st1 {
  fill: $map-bg;
  stroke: $map-active;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.st1.active {
  fill: $map-active;
}

.data-map-hidden {
  display: none;
}
