.top-jobs {
  color: $profile-name-shadow;
  font-size: rem(16.6);
  line-height: 1.375;
  height: rem(560);
  @extend %acumin-pro-cond;
  @extend %font-weight-bold;
  @extend %background-repeat;
  @extend %overflow-hidden;
  @include background-image('careers/great-job-bg.jpg');

  @include e('details') {
    @include boxSize(rem(310), rem(330));
    @include background-image('top-jobs-border.png');
  }

  @include e('title') {
    padding-right: rem(35);
    @extend %text-right;
  }

  @include e('map') {
    top: rem(-252);
    right: rem(510);
    @include boxSize(rem(585), rem(615));
    @extend %absolute;
  }

  .job-heading {
    color: $profile-name-shadow;
    @include shadow(rem(3), rem(3), rem(3), $profile-header);
  }
}

.map-details {
  margin-right: rem(186);
  @extend %background-no-repeat;
  @extend %relative;
  @extend %float-right;
}

.jobs-container {
  width: rem(1100);
  @extend %margin-auto;
  @extend %relative;
}

.job-heading {

  @include m('pull-left') {
    margin-right: rem(327);
  }

  @include m('pull-right') {
    margin: 0 rem(307) rem(12) 0;
    padding-top: rem(7);
  }
}

.job-desc {
  font-size: rem(18.8);
  margin-right: rem(289);
  color: $profile-name-shadow;
  @extend %no-text-shadow;
  @extend %acumin-pro-cond-bi;
  @extend %font-weight-normal;
}

.region-name {
  font-size: rem(33.3);
  line-height: 1.875;
  right: rem(14);
  color: $profile-name-shadow;
  @extend %top-0;
  @extend %text-uppercase;
  @extend %brandon-grotesque;
  @extend %absolute;

}

.job-list {
  top: rem(62);
  left: rem(25);
  @extend %absolute;
  @extend %overflow-y-scroll;
  @extend %acumin-pro-cond-regular;
  @include boxSize(rem(272), rem(250));
  padding-right: rem(10);
  margin-bottom: 0;

  a {
    color: $profile-name-shadow;

    @include linkState () {
      color: $profile-name-shadow;
    }
    @extend %text-capitalize;
  }
}

.map-title {
  margin: rem(37) 0 rem(26) rem(178);
  @extend %overflow-hidden;
}

.st1 {
  fill: $map-bg;
  stroke: $map-active;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.st1.active {
  fill: $map-active;
}

text {
  fill: $map-active;
  text-transform: uppercase;
  font-family: 'BrandonGrotesque-Bold';
  font-size: rem(9);
  @extend %cursor-default;
}

text.active {
  fill: $white;
}

.data-map-hidden {
  display: none;
}

.asterisk-copy-home {
  margin-top: rem(364);
  font-size: rem(15);
  @extend %acumin-pro-cond-regular;
  @extend %text-center;
}
