.more-stories {
  @include background-image('profile/filter-bg.png');
  background-position: bottom;
  @extend %background-repeat-x;

  @include e('title') {
    padding-top: rem(29);
  }

  @include e('list') {
    padding: rem(70) 0 rem(50) 0;
  }

  @include e('details') {
    @include boxSize(rem(333), rem(333));
    padding: 0 rem(8);
  }

  @include e('content') {
    @extend %display-flex;
    @extend %align-items-center;
    @include flex-justify-content(center);
  }

  @include e('btn') {
    @extend %background-no-repeat;
    @include boxSize(rem(108), rem(32));
    margin: rem(48) auto 0 auto;
    cursor: pointer;
  }
}

