/*Style navigations*/
.nav-bar {
  @extend %vertical-top;
  @extend %float-right;
  @extend %brandon-grotesque-bold;

  @include e('list') {
    @extend %overflow-hidden;
    @extend %float-left;
    padding: rem(27) 0;

    > li {
      @extend %float-left;
      padding: 0 rem(24);
    }

    a {
      @extend %text-uppercase;
      font-size: rem(13);
      color: $white;

      @include linkState() {
        @extend %no-text-decoration;
      }
    }
  }

  @include e('contact') {
    @extend %float-right;
    padding: rem(19) 0 0 rem(24);

    a {
      @extend %brandon-grotesque-bold;
      @extend %block;
      color: $white;

      &:first-child {
        padding-bottom: rem(12);
      }
    }

    span {
      font-size: rem(20);
    }
  }

  @include e('icon') {
    font-size: rem(20);
  }

  @include e('list-icon') {
    @extend %overflow-hidden;

    > li {
      @extend %float-left;
      padding-right: rem(26);

      &:last-child {
        @extend %no-padding-right;
      }
    }
  }
}
