.profile-owner {
  @extend %relative;

  @include e('container') {
    padding-top: rem(160);
  }

  @include e('name') {

  }

  @include e('photo') {
    z-index: -1;
    @extend %absolute;
    @extend %left-top-0;
    @extend %overflow-hidden;
    @include boxSize(100%, 100%);
  }
}

.guideline-row,
.guideline-col {
  @extend %no-padding;
}

.guideline-col {
  height: rem(348);
  @extend %background-no-repeat;
  @extend %background-cover;
  @extend %background-position-center;
}

.guideline {
  a {
    margin-top: rem(88);
    @extend %block;
    @extend %margin-auto;
  }
  @include e('more-stories') {
    @include background-image('profile-details/more-stories.jpg');

    a {
      @include boxSize(rem(182), rem(185));
      @include background-image('profile-details/more-stories-btn.png');
    }
  }

  @include e('find-program') {
    @include background-image('profile-details/find-program.jpg');

    h2 {
      font-size: rem(29);
      line-height: rem(40);
      @extend %i-owan-old-style;
    }

    a {
      @extend %relative;
      @include boxSize(rem(243), rem(164));
      @include background-image('profile-details/find-programs-btn.png');
    
      &:hover {
        color: $white;
      }
    }

    span {
      top: rem(95);
      left: rem(43);
      @extend %inline-block;
      @extend %absolute;
    }

  }

  @include e('call-center') {
    @include background-image('profile-details/call-center.jpg');

    .want-to-talk {
      background-image: none; 
      padding-top: rem(115);
      width: rem(230);
      @extend %margin-auto;

      @include e('link') {
        margin-left: rem(-15);
      }

      span {
        left: rem(8);
      }
    }
  }
}

.profile-guided-journey {
  margin-bottom: rem(-30);
  padding-top: rem(58);
  @include boxSize(100%, rem(290));
  @include background-image('filter-bg.png');

  @include e('title') {
    font-size: rem(33.16);
    line-height: rem(40);
    @extend %text-center;
  }

  a {
    margin-top: rem(20);
    @extend %block;
    @extend %margin-auto;
    @include boxSize(rem(162), rem(45));
    @include background-image('path-button.png');
  }
}

.career-info {
  padding-top: rem(60);
  @extend %relative;

  .career-info-container {
    @extend %no-margin-top;
  }

  .career-info-label {
    @extend %absolute;
    @extend %left-top-0;
    @extend %text-capitalize;
    @include boxSize(rem(200), rem(45));
  }

  .great-jobs__row {
    overflow: visible;
  }
}

.personal-profile {
  @extend %relative;

  @include e('main-container') {
    padding-top: rem(155);
  }

  ul {
    list-style: disc;
    margin-left: rem(15);
  }

  .profile-social-sharings {
    margin-left: rem(30);
    @extend %no-padding-top;

    .i-social {
      margin-right: rem(25);
    }
  }

  .profile-career-details {
    @extend %block;
    @extend %margin-auto;
    @extend %no-list-style;
    @include boxSize(rem(625), rem(55));

    li {
      border: solid rem(1) $default;
      @extend %float-left;
      @extend %text-center;
      @include boxSize(rem(208), 100%);

      &:nth-child(2),
      &:nth-child(3) {
        @extend %no-border-left;
      }

      p {
        padding-top: rem(17);
        margin-left: rem(9);
        max-width: rem(160);
        @extend %truncate;
        @extend %float-left;
        @extend %text-capitalize;
        @extend %acumin-pro-cond-regular;
      }

      img {
        @extend %float-left;
      }
    }
  }
}

.personal-profile-title,
.profile-social-sharings {
  @extend %float-left;
}

.personal-profile-title {
  width: auto;
}

.profile-details-info {
  @extend %clear-both;
}

.personal-profile-career {
  width: 64.75%;
  padding-top: rem(52);
  @extend %absolute;
  @extend %left-top-0;
}

.profile-career-content {
  @extend %margin-auto;
  @extend %inline-block;
  @extend %overflow-hidden;
}

.i-profile-training {
  margin-top: rem(14);
  @include boxSize(rem(21), rem(25));
}

.i-profile-map {
  margin-top: rem(17);
  @include boxSize(rem(21), rem(20));
}

.i-profile-career {
  margin-top: rem(13);
  @include boxSize(rem(21), rem(26));
}

.i-fb {
  @include boxSize(rem(8), rem(19));
  @include background-image('profile-details/i-fb.png');
}

.i-tweet {
  @include boxSize(rem(22), rem(17));
  @include background-image('profile-details/i-twitter.png');
}

.i-email {
  @include boxSize(rem(24), rem(16));
  @include background-image('profile-details/i-email.png');
}