.profile-owner {
  @extend %relative;
  @include boxSize(auto, rem(450));

  @include e('photo') {
    @extend %overflow-hidden;
    @include boxSize(100%, 100%);
  }
}

.guideline-row,
.guideline-col {
  @extend %no-padding;
}

.guideline-col {
  height: rem(348);
  @extend %background-no-repeat;
  @extend %background-cover;
  @extend %background-position-center;
}

.guideline {
  a {
    margin-top: rem(88);
    @extend %block;
    @extend %margin-auto;
  }
  @include e('more-stories') {
    @include background-image('profile-details/more-stories.jpg');

    a {
      @include boxSize(rem(182), rem(185));
      @include background-image('profile-details/more-stories-btn.png');
    }
  }

  @include e('find-program') {
    @include background-image('profile-details/find-program.jpg');

    h2 {
      font-size: rem(29);
      line-height: rem(40);
      @extend %i-owan-old-style;
    }

    a {
      margin-top: rem(86);
      @extend %relative;
      @include boxSize(rem(243), rem(164));
      @include background-image('profile-details/find-programs-btn.png');
    
      &:hover {
        color: $white;
      }
    }

    span {
      top: rem(95);
      left: rem(43);
      @extend %inline-block;
      @extend %absolute;
    }

  }

  @include e('call-center') {
    @include background-image('profile-details/call-center.jpg');

    .want-to-talk {
      background-image: none; 
      padding-top: rem(115);
      width: rem(230);
      @extend %margin-auto;

      @include e('link') {
        right: rem(18);
        top: rem(-11);
      }

      span {
        left: rem(8);
      }
    }
  }
}

.profile-guided-journey {
  padding-top: rem(47);
  @include boxSize(100%, rem(280));
  @include background-image('filter-bg.png');
  background-position: bottom;
  @extend %background-repeat-x;

  @include e('title') {
    font-size: rem(33.16);
    line-height: rem(40);
    @extend %text-center;
  }

  a {
    margin-top: rem(22);
    @extend %block;
    @extend %margin-auto;
    @include boxSize(rem(162), rem(45));
    @include background-image('path-button.png');
  }
}

.career-info {
  padding-top: rem(60);
  @extend %relative;

  .career-info-container {
    @extend %no-margin-top;
  }

  .career-info-label {
    @extend %absolute;
    @extend %left-top-0;
    @extend %text-capitalize;
    @include boxSize(rem(200), rem(45));
  }

  .great-jobs__row {
    overflow: visible;
  }
}

.personal-profile {
  @extend %relative;

  @include e('main-container') {
    padding-top: rem(51);
    padding-left: 0;
    padding-right: rem(55);
  }

  @include e('news-container') {
    min-height: rem(517);
    padding-top: rem(45);
  }

  @include e('feature-news') {
    width: rem(255);
  }

  ul {
    list-style: disc;
    margin-left: rem(15);
  }

  .profile-career-details {
    width: rem(659);
    min-height: rem(55);
    border: solid rem(1) $default;
    @extend %no-list-style;
    @extend %no-margin-left;
    @extend %display-flex;
    @include align-items(stretch);

    .profile-info-wrapper {
      @extend %display-flex;
      @include align-items(center);
    }

    li {
      width: 100%;
      padding: 0 rem(25);
      text-align: initial;
      border-right: solid rem(1) $default;
      @extend %display-flex;
      @include flex-justify-content(center);

      &:last-child {
        border-right: none;
      }
    }

    p {
      font-size: rem(14.7);
      margin-bottom: 0;
      padding: rem(10) 0;
      line-height: rem(17);
      font-style: normal;
      @include flex();
      @extend %text-uppercase;
      @extend %brandon-grotesque-bold;
      @extend %text-left;
    }
  }

  @include e('main-content') {
    width: rem(660);
    padding-right: 0;
    @extend %float-right;
  }
}

.personal-profile-title {
  font-size: rem(33.6);
  width: auto;
}

.profile-details-info {
  font-size: rem(16.67);
  @extend %clear-both;
}

.personal-profile-career {
  padding: rem(8) 0 rem(33);
  @extend %overflow-hidden; 
  @extend %clear-both;
}

.profile-career-content {
  @extend %margin-auto;
}

.btn-profile-video {
  top: rem(180);
  left: 48.5%;
  margin-top: 0;
  @extend %absolute;
}

.profile-video-desc {
  width: 100%;
  padding-left: rem(10);
  font-size: rem(18.75);
  top: rem(248);
  @extend %absolute;
  @extend %text-capitalize;
  @extend %acumin-pro-cond-bi;
  @include shadow(0, 0, rem(50), $black);
}

.i-profile-info {
  margin-right: rem(12);
  @extend %float-left;
}

.i-profile-pause {
  transform: initial;
}

.profile-item-container {
  @extend %inline-block;
  @extend %margin-auto;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .profile-career-details {
    p {
      width: rem(123);
      flex-basis: auto !important;
    }
  }
}
