.profile-common {
  @include e('info') {
    height: rem(400);
  }

  @include e('desc') {
    @include background-image('profile/profile-decs-bg.png');
    background-repeat: repeat;
    color: $profile-header;
    @extend %acumin-pro-cond;
    padding: rem(73) rem(100) 0 rem(60);

    h3 {
      font-size: rem(15);
      padding-bottom: rem(23);
    }

    p {
      font-size: rem(16.7);
      line-height: rem(20);
      width: rem(470);
    }
  }

  @include e('photo') {
    height: rem(400);
    @extend %no-padding;

    img {
      height: 100%;
    }
  }
}


.profile-heading {
  @include background-image('profile/profile-heading-bg.png');
  @extend %background-no-repeat;
  color: $profile-header;
  height: rem(160);
  @extend %background-position-center;
  @extend %background-cover;
  @extend %text-center;
  padding-top: rem(28);

  p {
    font-size: rem(16.7);
    line-height: rem(20);
    @extend %acumin-pro-cond;
  }
}

.profile-name {
  color: $default;
  @include shadow(rem(3), rem(3), rem(3), $profile-name-shadow);
}

.profile-title {
  font-size: rem(33.2);
  padding-bottom: rem(17);
  @extend %i-owan-old-style;
}

.btn-full-story {
  margin-top: rem(15);
  @include boxSize(rem(140), rem(56));
}

