.banner-heading {
  @include background-image('bg-banner.jpg');
  height: rem(160);
  color: $profile-header;
  @extend %text-center;
  @extend %relative;
  @extend %background-no-repeat;
  @extend %background-cover;
  @extend %background-position-center;

  @include e('content') {
    @extend %absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: rem(657);

    p {
      font-size: rem(18.75);
      @extend %acumin-pro-cond-bi;
      letter-spacing: rem(0.5);
      line-height: rem(21);
    }
  }
}

.education-title {
  text-transform: none;
}

