.profile-owner {
  @extend %relative;
  @include boxSize(auto, rem(450));

  @include e('photo') {
    @extend %overflow-hidden;
    @include boxSize(100%, 100%);
  }
}

.guideline-row,
.guideline-col {
  @extend %no-padding;
}

.guideline-col {
  height: rem(348);
  @extend %background-no-repeat;
  @extend %background-cover;
  @extend %background-position-center;
}

.guideline {
  a {
    margin-top: rem(88);
    @extend %block;
    @extend %margin-auto;
  }
  @include e('more-stories') {
    @include background-image('profile-details/more-stories.jpg');

    a {
      @include boxSize(rem(182), rem(185));
      @include background-image('profile-details/more-stories-btn.png');
    }
  }

  @include e('find-program') {
    @include background-image('profile-details/find-program.jpg');

    h2 {
      font-size: rem(29);
      line-height: rem(40);
      @extend %i-owan-old-style;
    }

    a {
      @extend %relative;
      @include boxSize(rem(243), rem(164));
      @include background-image('profile-details/find-programs-btn.png');
    
      &:hover {
        color: $white;
      }
    }

    span {
      top: rem(95);
      left: rem(43);
      @extend %inline-block;
      @extend %absolute;
    }

  }

  @include e('call-center') {
    @include background-image('profile-details/call-center.jpg');

    .want-to-talk {
      background-image: none; 
      padding-top: rem(115);
      width: rem(230);
      @extend %margin-auto;

      @include e('link') {
        margin-left: rem(-15);
      }

      span {
        left: rem(8);
      }
    }
  }
}

.profile-guided-journey {
  margin-bottom: rem(-30);
  padding-top: rem(58);
  @include boxSize(100%, rem(290));
  @include background-image('filter-bg.png');

  @include e('title') {
    font-size: rem(33.16);
    line-height: rem(40);
    @extend %text-center;
  }

  a {
    margin-top: rem(20);
    @extend %block;
    @extend %margin-auto;
    @include boxSize(rem(162), rem(45));
    @include background-image('path-button.png');
  }
}

.career-info {
  padding-top: rem(60);
  @extend %relative;

  .career-info-container {
    @extend %no-margin-top;
  }

  .career-info-label {
    @extend %absolute;
    @extend %left-top-0;
    @extend %text-capitalize;
    @include boxSize(rem(200), rem(45));
  }

  .great-jobs__row {
    overflow: visible;
  }
}

.personal-profile {
  @extend %relative;

  @include e('main-container') {
    padding-top: rem(51);
  }

  @include e('about') {
    padding-right: 0;
  }

  ul {
    list-style: disc;
    margin-left: rem(15);
  }

  .profile-career-details {
    @extend %block;
    @extend %no-list-style;
    @extend %no-margin-left;
    @include boxSize(auto, rem(55));

    li {
      border: solid rem(1) $default;
      min-width: rem(198);
      max-width: rem(285);
      height: 100%;
      padding: 0 rem(25);
      @extend %float-left;
      @extend %text-center;
      @extend %relative;
      @extend %flex-col-center;

      &:nth-child(2),
      &:nth-child(3) {
        @extend %no-border-left;
      }

      p {
        margin: 0 0 0 rem(27);
        max-width: rem(182);
        @extend %float-left;
        @extend %text-left;
        @extend %text-uppercase;
        @extend %brandon-grotesque-bold;
      }

      img {
        top: rem(18);
        left: rem(20);
        @extend %absolute;
      }
    }
  }
}

.personal-profile-title,
.profile-social-sharings {
  @extend %float-left;
}

.personal-profile-title {
  width: auto;
}

.profile-details-info {
  @extend %clear-both;
}

.personal-profile-career {
  padding: rem(8) 0 rem(35);
  @extend %overflow-hidden; 
  @extend %clear-both;
}

.profile-career-content {
  @extend %margin-auto;
}

.i-profile-training {
  @include boxSize(rem(21), rem(25));
}

.i-profile-map {
  @include boxSize(rem(21), rem(20));
}

.i-profile-career {
  @include boxSize(rem(21), rem(26));
}

.btn-profile-video {
  top: 40%;
  left: 48.5%;
  margin-top: 0;
  @extend %absolute;
}

@media screen and (max-width: rem(1200)) {
  .personal-profile__main-container {
    width: rem(795);
    padding-right: 0;
  }

  .personal-profile__news-container {
    width: rem(405);
  }

  .personal-profile-career {
    width: rem(795);
  }
}
