.program-banner {
  @include e('container') {
    @include background-image('program-landing/program-landing-banner.jpg');
    padding-top: 0;
    height: rem(450);
    @extend %relative;
  }

  @include e('introduce') {
    width: rem(627);
    @extend %margin-auto;
    padding-top: rem(6);
  }

  @include e('text') {
    line-height: rem(23);

    &:nth-child(2){
      margin-top: 0;
    }
  }

  @include e('content') {
    width: rem(725);
    @extend %absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-52%);
  }
}