.profile-common {
  @include e('info') {
    @extend %display-flex;

    &:last-child {
      .profile-common__desc {
        order: 1;
      }

      .profile-common__photo {
        order: 2;
      }
    }
  }

  @include e('desc') {
    @include background-image('profile/profile-decs-bg.png');
    @extend %background-repeat-x;
    color: $profile-header;
    @extend %acumin-pro-cond;
    @extend %display-flex;
    @include align-items(center);
    @include flex-justify-content(center);
    padding: rem(50) 0;

    h3 {
      font-size: rem(21);
      @extend %acumin-pro-cond-bi;
      padding-bottom: rem(23);
    }

    p {
      font-size: rem(16.7);
      line-height: rem(20);
      margin-right: rem(-16);
      padding-right: rem(16);
      @extend %acumin-pro-cond;
    }
  }

  @include e('photo') {
    @extend %no-padding;

    img {
      height: auto;
    }
  }
}


.profile-heading {
  @include background-image('profile/profile-heading-bg.png');
  @extend %background-no-repeat;
  color: $profile-header;
  height: rem(160);
  @extend %background-position-center;
  @extend %background-cover;
  @extend %text-center;
  padding-top: rem(37);

  p {
    font-size: rem(16.7);
    line-height: rem(20);
    @extend %acumin-pro-cond-bi;

    &:first-child {
      margin-top: rem(4);
    }
  }
}

.profile-name {
  color: $default;
  @include shadow(rem(4), rem(6), 0, $profile-name-shadow);
}

.profile-title {
  padding-bottom: rem(17);
  @extend %text-capitalize;
}

.btn-full-story {
  margin-top: rem(30);
  @include boxSize(rem(140), rem(56));

  @include e('link') {
    @extend %block;
    @extend %background-no-repeat;
    @include boxSize(100%, 100%);
    @include background-image('profile/btn-full-story.png');
  }
}

.profile-content {
  width: rem(480);
}
