.program-list {
  @include e('item') {
    border: rem(1) solid $default;
    background-color: $white;
    color: $default;
    min-height: rem(150);
  }

  @include e('item-header') {
    border-bottom: rem(1) solid $default;
    height: rem(80);

    .jobs-head__name {
      width: rem(650);
      line-height: rem(80);
      padding-top: 0;

      p {
        font-size: rem(20.83);
        @extend %brandon-grotesque;
        @extend %text-uppercase;
        @extend %inline-block;
        @extend %vertical-middle;
        line-height: normal;
      }
    }
  }

  @include e('item-content') {
    width: rem(774);
  }

  @include e('call-us') {
    @include boxSize(rem(815), rem(31));
    background-color: $red-bg;
    @extend %text-center;
    font-size: rem(14.5);
    @extend %acumin-pro-cond;
    color: $white;
    margin-bottom: rem(35);
    margin: rem(30) auto rem(14) auto;
    line-height: rem(33);
  }

  @include e('item-footer') {
    font-size: rem(14.5);
    @extend %acumin-pro-cond-regular;
    padding: rem(20) 0 rem(15) 0;
    margin-bottom: 0;
  }
}

.program-list-view {
  @extend %overflow-hidden;
  margin-bottom: rem(170);

  .no-result-found {
    @extend %text-center;
  }

  @include e('container') {
    width: rem(815);
    @extend %margin-auto;
  }
}

.career-industry {
  float: left;
  width: rem(293);
}

.career-industry-map {
  width: rem(325);
  float: left;
}

// Style program view map

.program-map-view {
  width: rem(1155);
  margin: rem(25) auto rem(45) auto;
  display: none;
  @extend %overflow-hidden;

  @include e('list') {
    width: rem(380);
    @extend %float-left;

    .no-result-found {
      margin-left: rem(50);
    }
  }

  @include e('address') {
    @include boxSize(rem(753), rem(640));
    @extend %float-right;
  }
  
}

.program-item-map {

  @include e('container') {
    @include boxSize(rem(353), 100%);
    @extend %margin-auto;
  }

  @include e('header') {
    height: rem(105);

    .jobs-head__content {
      @extend %float-left;
      width: 100%;
      margin-top: rem(10);
    }

    .jobs-head__name {
      width: rem(353);
      line-height: rem(105);
    }

    .edu-salary {
      @extend %float-right;
    }
  }

  @include e('footer-item') {
    @extend %no-padding;
    padding-top: rem(13);

    &:first-child {
      @extend %no-padding-top;
      @extend %overflow-hidden;

      p {
        padding-right: rem(10);
        line-height: rem(17);
        padding-top: rem(6);
      }
    }

    .icon {
      margin-right: rem(6);
    }

    p {
      line-height: rem(27);
    }
  }
}

.labels-marker {
  color: $black;
  @extend %acumin-pro-cond;
  font-size: rem(12.5);
  text-align: center;
  width: rem(40);
  height: rem(20);
  white-space: nowrap;
  @extend %absolute;
}

.see-more-program {
  margin-top: rem(35);
}

// Program Landing Message
.edu-landing-message {
  background: none;
  padding-top: rem(48);

}
