.related-careers {
  @extend %overflow-hidden;
  color: $default;
  @extend %relative;
  @include background-image('filter-bg.png');
  background-position: bottom;
  @extend %background-repeat-x;
  min-height: rem(511);

  .col-md-6,
  .col-md-4,
  .col-md-9 {
    @extend %no-padding;
  }

  .want-to-talk {
    @extend %cl-white;
  }

  @include e('header') {
    padding: rem(53) 0 rem(27) rem(5);
  }

  @include e('title') {
    margin-bottom: rem(36);
    padding-left: rem(7);

    span {
      text-shadow: none;
    }
  }

  @include e('items') {
    margin-left: rem(7);
    color: $default;
  }

  @include e('content') {
    width: 74%;
    @extend %float-left;
    margin-bottom: rem(45);
  }

  @include e('details') {
    margin-bottom: rem(20);
    a {
      @include boxSize(100%, 100%);
      color: $default;
    }
  }

  @include e('sort-by') {
    margin-top: rem(7);
  }

  @include e('interest') {
    @extend %float-left;
    margin-bottom: 0;
    margin-left: rem(15);
    width: rem(257);

    &:first-child {
      margin-left: 0;
    }

    p {
      max-width: rem(183);
    }
  }

  @include e('icon-interest') {
    margin-left: rem(10);
    @extend %overflow-hidden;
  }
}

.related-careers-container {
  width: rem(825);
  @extend %margin-auto;
}

.sort-item {
  margin-right: rem(10);
  @extend %acumin-pro-cond;
  @extend %float-left;

  &:last-child {
    @extend %no-margin-right;
  }

  @include e('title') {
    font-size: rem(16.7);
    width: rem(70);
    margin-top: rem(15);
    @extend %text-capitalize;
    @extend %float-left;
    @extend %truncate;
  }

  @include e('icon') {
    @extend %float-left;
    @include boxSize(rem(46), rem(46));
  }
}

.sort-by {
  font-size: rem(16.7);
  margin: rem(5) rem(22) 0 0;
  @extend %float-left;
  @extend %acumin-pro-cond-bi;
}

.related-item {
  border: solid rem(1) $default;
  background-color: $white;
  @extend %margin-auto;
  @extend %relative;
  @include boxSize(rem(255), rem(320));

  @include e('photo') {
    @extend %overflow-hidden;
    @include boxSize(100%, rem(197));
  }

  @include e('info') {
    padding: rem(4) rem(10) 0;
  }

  @include e('name') {
    font-size: rem(16.67);
    width: rem(240);
    line-height: rem(20);
    // max-height: rem(45);
    padding-top: rem(5);
    @extend %brandon-grotesque;
    @extend %text-uppercase;
    @extend %block;
    @extend %relative;
  }

  @include e('salary') {
    font-size: rem(14.58);
    @extend %truncate;
    @extend %acumin-pro-cond;
    @extend %block;
    padding-top: rem(5);
  }
}

.btn-sort-active {
  @extend %cl-white;
  background-color: $red-bg;
}

.related-careers-container.career-interest-active {
  .btn-interest-active {
    @extend .btn-sort-active;
  }

  #careers-by-interests {
    @extend %block;
  }

  #careers-by-skills {
    display: none;
  }

  #interest-icons {
    @extend %block;
  }

  #skill-icons {
    display: none;
  }
}

.related-careers-container.career-skill-active {
  .btn-skill-active {
    @extend .btn-sort-active;
  }

  #careers-by-skills {
    @extend %block;
  }

  #careers-by-interests {
    display: none;
  }

  #interest-icons {
    display: none;
  }

  #skill-icons {
    @extend %block;
  }
}
