.search-bar {
  height: rem(161);
  color: $search-text;
  padding-top: rem(55);
  @include background-image('career-search-bg.jpg');
  @extend %background-cover;
  @extend %background-position-center;
  @extend %text-left;
  @extend %relative;
  @extend %overflow-hidden;
}

form {
  z-index: 1000;
  @extend %relative;
}

.search-group {
  width: rem(803);
  @extend %margin-auto;

  .search-input {
    font-size: rem(14.7);
    text-indent: rem(2);
    border: solid rem(1) $search-border;
    @extend %no-border-radius;
    @extend %acumin-pro-cond-regular;
    @extend %font-style-italic;
    @include boxSize(rem(379), rem(53));
  }

  .search-careers-landing {
    @include boxSize(rem(370), rem(46));
    text-indent: 0;
  }

  .btn-submit {
    width: rem(212);
    font-size: rem(14.7);
    background-color: $default;
    @extend %i-owan-old-style-bi;
    @extend %cl-white;
    @extend %float-left;
    @extend %no-border-radius;
    @extend %no-border;
    @extend %no-outline;
  }

  .btn-search-career {
    @include boxSize(rem(148), rem(46));
  }

  .btn-region,
  .btn-career {
    padding: rem(8) rem(5) rem(8) rem(10);
    @extend %text-left;
    @extend %no-border-left;
    margin-bottom: 0;
  }

  .fa {
    color: $default;
    top: rem(18);
    right: rem(12);
    @extend %absolute;
  }
}

.btn-search {
  border: solid rem(1) $search-border;
  background-color: $white;
  height: rem(53);
  @extend %float-left;
  @extend %no-border-radius;
  @extend %relative;

  .form-control {
    font-size: rem(14.7);
    color: $search-text;
    @extend %no-outline;
    @extend %appearance-none;
    @extend %no-padding-left;
    @extend %acumin-pro-cond-regular;
    @extend %font-style-italic;
    @include boxSize(100%, 100%);
    @extend %no-border;
    @extend %background-none;
  }

  /* for IE10 */
  select::-ms-expand {
    @extend %hide;
  }

  .form-sort-by {
    padding: 0;
    margin-top: rem(-4);
  }
}

.btn-region {
  width: rem(231);
}

.btn-career {
  width: rem(211);
}

.sort-by-salary {
  @include boxSize(rem(195), rem(46));
  margin-left: rem(14);
  padding: rem(8) rem(5) rem(8) rem(8);
  @extend %relative;
}

.search-bg {
  z-index: 10;
  left: rem(-27);
  top: rem(10);
  @extend %absolute;
  @include boxSize(auto, rem(161));
}

.no-result-found {
  font-size: rem(40);
  margin-top: rem(78);
  color: $default;
}

.no-result-list {
  margin-top: rem(54);
}

// Style drop down auto complete
.ui-autocomplete {
  @include boxSize(rem(375), rem(250));
  @extend %overflow-y-scroll;
}

.alert-danger-search {
  @include boxSize(rem(803), rem(35));
  @extend %margin-auto;
  padding-top: rem(6);
  @extend %text-center;
  font-size: rem(14);
  @extend %acumin-pro-cond-regular;

  @include m('career') {
    display: none;
  }

  @include m('region') {
    display: none;
  }
}

.fa-sort-by {
  @extend %absolute;
  top: rem(15);
  left: rem(175);
  color: $default;
  pointer-events: none;
}

.alert-danger-search-group {
  display: none;
}

.search-bar-group.error-search-group {
  .alert-danger-search-group {
    display: block;
  }

  .alert-danger-search--career,
  .alert-danger-search--region {
    display: none;
  }
}

.search-bar-group.error-search-career {
  .alert-danger-search-group,
  .alert-danger-search--region {
    display: none;
  }

  .alert-danger-search--career {
    display: block;
  }
}

.search-bar-group.error-search-region {
  .alert-danger-search-group,
  .alert-danger-search--career {
    display: none;
  }

  .alert-danger-search--region {
    display: block;
  }
}

.search-bar-group.error-search {
  .alert-danger-search {
    display: none;
  }
}

.search-bar-group {
  .alert-danger-search-text {
    display: none;
  }
}

.search-bar-group.error-search {
  .alert-danger-search-text {
    display: block;
  }
}

.alert-danger-career-details {
  width: rem(824);
}