/**
 * Override Bootstrap form-control and input-group-btn
 */
.search-group {
  .form-control {
    font-size: rem(18.9);
    text-indent: rem(5);
    border: solid rem(1) $search-border;
    @extend %float-right;
    @extend %no-border-radius;
    @include boxSize(rem(379), rem(53));
  }

  .input-group-btn {
    @extend %vertical-top;
    @extend %relative;
  }

  .dropdown-menu {
    padding: rem(15);
    color: $search-text;
  }
}