<header class="site-header">
  <div class="site-header__container">
    <h1 class="site-header__logo">
      <a href="/" class="site-header__link">
        = image_tag asset_path("logo.png")
      </a>
    </h1>
    <nav class="nav-bar">
      <ul class="nav-bar__list">
        <li>
          = link_to "Careers", career_path, :class => (params[:controller] == "career" ? "nav-active" : "")
        </li>
        <li>
          = link_to "Education", education_path, :class => (params[:controller] == "education" ? "nav-active" : "")
        </li>
        <li>
          = link_to "Real stories", stories_path, :class => (params[:controller] == "profile" ? "nav-active" : "")
        </li>
        <!-- <li><a href="javascript:void(0)">Blog</a></li> -->
        <!-- <li><a href="javascript:void(0)">About us</a></li> -->
        / <li>
        /   <ul class="nav-bar__list-icon">
        /     <li><a href="javascript:void(0)"><i class="fa fa-facebook nav-bar__icon" aria-hidden="true"></i></a></li>
        /     <li><a href="javascript:void(0)"><i class="fa fa-twitter nav-bar__icon" aria-hidden="true"></i></a></li>
        /   </ul>
        / </li>
      </ul>
      <div class="nav-bar__contact">
        <p><i class="fa fa-phone nav-bar__icon" aria-hidden="true"></i><a>&nbsp; 1-844-LA-CALLS</a></p>
      </div>
    </nav>
  </div>
</header>
