<header class="site-header">
  <h1 class="site-header__logo"><a href="javascript:void(0)" class="site-header__image"></a></h1>
  <nav class="nav-bar">
    <ul class="nav-bar__list">
      <li><a href="javascript:void(0)">Skill up</a></li>
      <li><a href="javascript:void(0)">Careers</a></li>
      <li><a href="javascript:void(0)">Real stories</a></li>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">About us</a></li>
      <li>
        <ul class="nav-bar__list-icon">
          <li><a href="javascript:void(0)"><i class="fa fa-facebook nav-bar__icon" aria-hidden="true"></i></a></li>
          <li><a href="javascript:void(0)"><i class="fa fa-twitter nav-bar__icon" aria-hidden="true"></i></a></li>
        </ul>
      </li>
    </ul>
    <div class="nav-bar__contact">
      <a href="javascript:void(0)"><i class="fa fa-phone nav-bar__icon" aria-hidden="true"></i><span>&nbsp; 1.888.888.8888</span></a>
      <a href="javascript:void(0)" class="button-find-path"></a>
    </div>
  </nav>
</header>
