<!-- Google Analytics Page Tracking -->
javascript:
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  var page = {
    page: '/about',
    title: 'About Us'
  };
  if (ga) {
    ga('send', 'pageview', location.pathname);
    console.log('here!!!!');
  }
<!-- End Google Analytics -->
